PORT =
CORS_ORIGIN =
#CORS_ORIGIN = http://localhost:3000 # add frontend url yto mke it secure


NODE_ENV =

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY =

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY =

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=